In [1]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark = SparkSession. \
builder. \
config("spark.sql.warehouse.dir", f"/user/{username}/warehouse"). \
enableHiveSupport(). \
master('yarn'). \
getOrCreate()

In [2]:
orders_df = spark.read \
.format("csv") \
.option("inferSchema","true") \
.option("header","true") \
.load("/public/trendytech/datasets/windowdatamodified.csv")

In [6]:
from pyspark.sql.functions import *

In [8]:
from pyspark.sql import *

In [9]:
mywindow = Window.partitionBy("country") \
.orderBy(desc("invoicevalue"))

In [10]:
result_df = orders_df.withColumn("previous_week",lag("invoicevalue").over(mywindow))

In [11]:
result_df.show()

+-------+-------+-----------+-------------+------------+-------------+
|country|weeknum|numinvoices|totalquantity|invoicevalue|previous_week|
+-------+-------+-----------+-------------+------------+-------------+
| Sweden|     50|          3|         3714|      2646.3|         null|
|Germany|     49|         12|         1852|      1800.0|         null|
|Germany|     50|         15|         1973|      1800.0|       1800.0|
|Germany|     48|         11|         1795|      1600.0|       1800.0|
|Germany|     51|          5|         1103|      1600.0|       1600.0|
| France|     50|          6|          529|      537.32|         null|
| France|     51|          5|          847|       500.0|       537.32|
| France|     49|          9|         2303|       500.0|        500.0|
| France|     48|          4|         1299|       500.0|        500.0|
|Belgium|     48|          1|          528|       800.0|         null|
|Belgium|     51|          2|          942|       800.0|        800.0|
|Belgium|     50|          2|          285|      625.16|        800.0|
|Finland|     50|          1|         1254|       892.8|         null|
|  India|     49|          5|         1280|      3284.1|         null|
|  India|     50|          5|         1184|     2321.78|       3284.1|
|  India|     51|          5|           95|       300.0|      2321.78|
|  India|     48|          7|         2822|       300.0|        300.0|
|  Italy|     48|          1|          164|       427.8|         null|
|  Italy|     51|          1|          131|       383.7|        427.8|
|  Italy|     49|          1|           -2|       -17.0|        383.7|
+-------+-------+-----------+-------------+------------+-------------+
only showing top 20 rows

In [14]:
final_df = result_df.withColumn("invoice_difference",expr("invoicevalue - previous_week"))

In [15]:
final_df.show()

+-------+-------+-----------+-------------+------------+-------------+-------------------+
|country|weeknum|numinvoices|totalquantity|invoicevalue|previous_week| invoice_difference|
+-------+-------+-----------+-------------+------------+-------------+-------------------+
| Sweden|     50|          3|         3714|      2646.3|         null|               null|
|Germany|     49|         12|         1852|      1800.0|         null|               null|
|Germany|     50|         15|         1973|      1800.0|       1800.0|                0.0|
|Germany|     48|         11|         1795|      1600.0|       1800.0|             -200.0|
|Germany|     51|          5|         1103|      1600.0|       1600.0|                0.0|
| France|     50|          6|          529|      537.32|         null|               null|
| France|     51|          5|          847|       500.0|       537.32| -37.32000000000005|
| France|     49|          9|         2303|       500.0|        500.0|                0.0|
| France|     48|          4|         1299|       500.0|        500.0|                0.0|
|Belgium|     48|          1|          528|       800.0|         null|               null|
|Belgium|     51|          2|          942|       800.0|        800.0|                0.0|
|Belgium|     50|          2|          285|      625.16|        800.0|-174.84000000000003|
|Finland|     50|          1|         1254|       892.8|         null|               null|
|  India|     49|          5|         1280|      3284.1|         null|               null|
|  India|     50|          5|         1184|     2321.78|       3284.1| -962.3199999999997|
|  India|     51|          5|           95|       300.0|      2321.78|-2021.7800000000002|
|  India|     48|          7|         2822|       300.0|        300.0|                0.0|
|  Italy|     48|          1|          164|       427.8|         null|               null|
|  Italy|     51|          1|          131|       383.7|        427.8| -44.10000000000002|
|  Italy|     49|          1|           -2|       -17.0|        383.7|             -400.7|
+-------+-------+-----------+-------------+------------+-------------+-------------------+
only showing top 20 rows

In [16]:
mywindow = Window.partitionBy("country")

In [19]:
result = orders_df.withColumn("total_invoice_value",sum("invoicevalue").over(mywindow))

In [20]:
result.show()

+-------+-------+-----------+-------------+------------+-------------------+
|country|weeknum|numinvoices|totalquantity|invoicevalue|total_invoice_value|
+-------+-------+-----------+-------------+------------+-------------------+
| Sweden|     50|          3|         3714|      2646.3|             2646.3|
|Germany|     48|         11|         1795|      1600.0|             6800.0|
|Germany|     49|         12|         1852|      1800.0|             6800.0|
|Germany|     50|         15|         1973|      1800.0|             6800.0|
|Germany|     51|          5|         1103|      1600.0|             6800.0|
| France|     51|          5|          847|       500.0| 2037.3200000000002|
| France|     49|          9|         2303|       500.0| 2037.3200000000002|
| France|     48|          4|         1299|       500.0| 2037.3200000000002|
| France|     50|          6|          529|      537.32| 2037.3200000000002|
|Belgium|     48|          1|          528|       800.0|            2225.16|
|Belgium|     50|          2|          285|      625.16|            2225.16|
|Belgium|     51|          2|          942|       800.0|            2225.16|
|Finland|     50|          1|         1254|       892.8|              892.8|
|  India|     51|          5|           95|       300.0|            6205.88|
|  India|     49|          5|         1280|      3284.1|            6205.88|
|  India|     48|          7|         2822|       300.0|            6205.88|
|  India|     50|          5|         1184|     2321.78|            6205.88|
|  Italy|     49|          1|           -2|       -17.0|              794.5|
|  Italy|     51|          1|          131|       383.7|              794.5|
|  Italy|     48|          1|          164|       427.8|              794.5|
+-------+-------+-----------+-------------+------------+-------------------+
only showing top 20 rows